
.container {
    width: 876.56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30.5px;
}

.logo-space {
    padding-bottom: 60.52px;

}

h1 {
    margin-top: 27.75px;
    font-size: 14px;
    color: #bcbcbc;
    letter-spacing: 0.076em;

}

body {
    font-family: Helvetica;
    background-color: #F5F5F5;
}


.Content {
    border-top: 2px solid #CACACA;
    width: 158px;
    float: left;
}

h2 {
    font-size: 14px;
    margin-top: 27.5px;
    color: #A8A8A8;
    letter-spacing: 0.155em;
}


.Content_description {
    font-size: 14px;
    color: #9f9f9f;
    font-family: Helvetica ;
    margin-top: 35.35px;
    line-height: 15pt;
}

.contact {
    width: 337.22px;
    float: left;
    font-size: 14px;
    margin-left: 199.33px;
    border-top: 2px solid #CACACA;
}

.left_side {
    width: 158px;
    float: left;
}

.Contact_type {
    color: #bcbcbc;
    font-family: Helvetica ;
    margin-top: 24.75px;
    line-height: 13pt;
    padding-bottom: 90.75px;
}

.menu {
    border-top: 2px solid #CACACA;
    width: 158px;
    float: left;
    margin-left: 24px;
}

.menucontent {
    margin-top: 27.75px;
}

.Menulinks {
    font-size: 14px;
    color: #A8A8A8;
    margin-bottom: 2.63px;
    letter-spacing: 0.01em;
}

.upperside {
    float: left;
}

.title {
    width: 158px;
    border-top: 2px solid #CACACA;
    
}

.labimage {
    border-top: 2px solid #CACACA;
    width: 694.55px;  
    float: left;
    margin-left: 24px;
}

.labimage img {
    margin-top: 16.88px;
}

.biolab {
    font-size: 14px;
    color: #9f9f9f;
    font-family: Helvetica ;
    margin-top: 10px;
    line-height: 15pt;
    text-align: center;
}
a:link, a:visited {
  background-color: #F5F5F5;
  text-decoration: none;
color: #A8A8A8;
  display: inline-block;
}

.title img {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
}