
.container {
    width: 876.56px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30.5px;
}

.logo-space {
    padding-bottom: 60.52px;

}

h1 {
    margin-top: 27.75px;
    font-size: 12px;
    color: #CACACA;
    letter-spacing: 0.076em;
    padding-bottom: 112.2px;
}

body {
    font-family: Helvetica;
    background-color: #F5F5F5;
}


.Content {
    border-top: 2px solid #CACACA;
    width: 158px;
    float: left;
}

h2 {
    font-size: 12px;
    margin-top: 27.5px;
    color: #A8A8A8;
    letter-spacing: 0.155em;
}


.Content_description {
    font-size: 12px;
    color: #CACACA;
    font-family: Helvetica Light;
    margin-top: 35.35px;
    line-height: 15pt;
}

.contact {
    width: 337.22px;
    float: left;
    font-size: 12px;
    margin-left: 199.33px;
    border-top: 2px solid #CACACA;
}

.left_side {
    width: 158px;
    float: left;
}

.Contact_type {
    color: #CACACA;
    font-family: Helvetica Light;
    margin-top: 24.75px;
    line-height: 13pt;
    padding-bottom: 90.75px;
}

.menu {
    border-top: 2px solid #CACACA;
    width: 158px;
    float: left;
    margin-left: 24px;
}

.menucontent {
    margin-top: 27.75px;
}

.Menulinks {
    font-size: 12px;
    color: #A8A8A8;
    margin-bottom: 2.63px;
    letter-spacing: 0.01em;
}

.upperside {
    float: left;
}

.title {
    width: 158px;
    border-top: 2px solid #CACACA;
    
}

.labimage {
    border-top: 2px solid #CACACA;
    width: 694.55px;  
    float: left;
    margin-left: 24px;
}


.bioevolvo {
    font-size: 12px;
    color: #CACACA;
    font-family: Helvetica Light;
    margin-top: 30.65px;
    line-height: 15pt;
    text-align: left;
    margin-left: 140.97px;
}
a:link, a:visited {
  background-color: #F5F5F5;
  text-decoration: none;
color: #A8A8A8;
  display: inline-block;
}

iframe {
    margin-top: 16.88px;
    margin-left:  140.97px;

}

.press {
    margin-left: 140.97px;
}

.presslinks {
font-size: 12px;
    color: #CACACA;
    font-family: Helvetica Light
        margin-left: 140.97px;
}


.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 300;
  height: 200;
}

.desc {
  padding: 15px;
  text-align: center;
}

.photogallery {
    margin-left: 48.04px;
}
